<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} SITE DE VENTE {% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('Css/style.css') }}">
        {% endblock %}
    </head>
    <body>
    <h1>BIENVENUE SUR LE SITE DE VENTE</h1>
            <ol>

            </ol>
        {% block body %}{% endblock %}
        {% include 'Base/footer.html.twig' %}

    <a href="{{ path("login") }}">Log in </a>
    </body>
</html>
