{% extends 'Base/base.html.twig' %}

{% block title %} SITE DE VENTE {% endblock %}
{% block body %}
    <h1>Bienvenue sur notre site web!</h1>


    {#  {% include 'Base/menu.html.twig' %}#}
{% endblock %}
