<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SITE DE VENTE {% endblock %}</title>
    </head>
    <body>
    <h1>BIENVENUE SUR LE SITE DE VENTE</h1>
            <ol>
                vlad
            </ol>
    </body>
</html>
