{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur notre site de vente en ligne</h1>

    <h2>Nos produits :</h2>
    <ul>
       <li>VOICI NOS PRODUITS</li>
    </ul>
{% endblock %}
