

{% block title %}PRODUITS{% endblock %}

{% block vue %}
    <p><a href="{{ path('ajout_produit') }}">Ajouter un produit</a></p>

    <p>
        {% if page == 0 %}
            affichage de toutes les pages
        {% else %}
            affichage de la page {{ page }}
        {% endif %}
    </p>

    {% if produits|length == 0 %}
        <p>Aucun produits dans la base de données</p>
    {% else %}
        <table>
            <tr><th>dénomination</th><th></th></tr>
            {% for produit in produits %}
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}
